<header>
  <section>
    <!-- Nombre de usuario -->
    <div class="left-section">
      <div class="menu">
        <button (click)="useLanguage('eng')">ENG</button>
        <button (click)="useLanguage('es')">ESP</button>
        <!--<i class="fa-solid fa-bars"></i>-->
      </div>
    </div>
    <!-- Imagen de marvel -->
    <div class="logo">
      <figure><img [src]="img" [alt]="imgdescrip" /></figure>
    </div>
    <!-- Sección derecha -->
    <div class="right-section">
      <section class="extra">
        <figure>
          <img [src]="img2" [alt]="imgdescrip2" />
        </figure>
        <article>
          <h4>MARVEL UNLIMITED</h4>
          <h4 class="subscribe">{{ 'header.subs' | translate }}</h4>
        </article>
      </section>

      <!-- Boton de cerrar sesion -->
      <button type="button" (click)="logOut()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
    </div>
  </section>
</header>
