@import '../../styles/global.scss';

section {
  width: 100%;
  background-color: $blackMarvel;
  color: $whiteMarvel;
  font-family: $mainFonts;
  @include flex(flex, row, wrap, center, space-between, center);

  i {
    font-size: 2em;
  }

  .left-section {
    width: 33%;
    @include flex(flex, row, wrap, center, center, center);
    border-left: 1px solid $grayBorders;
    border-right: 1px solid $grayBorders;

    button {
      background-color: $blackMarvel;
      color: $whiteMarvel;
      border: 0px transparent;
      cursor: pointer;

      &:hover {
        transition: all .5s;
        border-bottom: 1px solid $whiteMarvel;
      }
    }

    .menu {
      display: none;
    }

    .userName {
      @include flex(flex, row, wrap, center, center, center);
      gap: 1em;

      button {
        background-color: $blackMarvel;
        color: $whiteMarvel;

        &:hover {
          transition: all .5s;
          border-bottom: 1px solid $whiteMarvel;
        }
      }

      svg {
        width: 25px;
        fill: $whiteMarvel;
      }
    }
  }

  @include allmedias(phone) {
    .left-section {
      width: 32%;
      @include flex(flex, row, wrap, center, center, center);

      .userName {
        display: none;
      }

      .menu {
        display: flex;
      }
    }
  }

  .logo {
    width: 33%;
    @include flex(flex, row, wrap, center, center, center);

    figure {
      img {
        max-width: 150px;
        max-height: 250px;
        width: 100%;
      }
    }
  }

  .right-section {
    width: 33%;
    @include flex(flex, row, wrap, center, center, center);
    gap: 1em;
    border-left: 1px solid $grayBorders;
    border-right: 1px solid $grayBorders;

    button {
      cursor: pointer;
    }

    .extra {
      width: 65%;
      @include flex(flex, row, wrap, center, center, center);

      gap: 1em;

      figure {
        img {
          width: 25px;
        }
      }

      article {
        text-align: center;

        .subscribe {
          font-size: 0.9em;
        }
      }
    }

    /* Hsta phone se oculta */
    @include allmedias(phone) {
      .extra {
        display: none;
      }
    }

    button {
      background-color: transparent;
      border: none;
      color: $whiteMarvel;
    }
  }
}

article {
  background-color: $blackMarvel;

  nav {
    @include flex(flex, wrap, row, center, space-between, center);
    border-top: 1px solid $grayBorders;
    font-family: $mainFonts;
    background-color: $blackMarvel;
    gap: 1em;
    padding: 1em;

    a {
      color: $darkGrayMarvel;
    }
  }

  @include allmedias(phone) {
    nav {
      display: none;
      list-style: none;
    }
  }
}
